.login-wrap {
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:740px;
	position:relative;
	background:url(https://upload.wikimedia.org/wikipedia/commons/c/c1/Lionel_Messi_20180626.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-html {
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}


.login-html .sign-up{
	display:none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}

.tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
	color:#fff;
	border-color:#1161ee;
}

.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
}

.login-form .group{
	margin-bottom:15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}

.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}

.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}


.Button {
    transition: all .5s ease;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    background-color : transparent;
    outline: none;
	cursor: pointer;
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
	width:100%;
	color:#fff;
	display:block;
}
.Button:hover {
    color: #001F3F;
    background-color: #fff;
}